@model IEnumerable<SurveySystem.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>All the surveys</h1>
    @foreach (var item in Model)
    {
        <h1>@item.QuestionText</h1>
    }
</div>