@*@model IEnumerable<SurveySystem.Models.Question>*@
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Lets make surveys!</h1>

    @*@foreach (var item in Model)
    {
        <h3>
            @item
        </h3>
    }*@
</div>