
@{
    ViewBag.Title = "Survey";
}

<h2>Create Survey</h2>


@using (Html.BeginForm())
{
    <input type="hidden" value="1" name="adminId" />

    <label>Survey Title:</label><br />
    <p><input type="text" name="survTitle" /></p>
    <label>Question 1:</label><br />
    <p><input type="text" name="questions" /></p>
    <label>Question 2:</label><br />
    <p><input type="text" name="questions" /></p>
    <label>Question 3:</label><br />
    <p><input type="text" name="questions" /></p>
    <input type="submit" value="Submit">

}

