@model IEnumerable<SurveySystem.Models.Survey>
    @{
    ViewBag.Title = "Surveys";
    }
    <div>
        <h2>All surveys</h2>
        <div style="width:300px;">
            @foreach (var item in Model)
            {
            <h3>
                @item.SurveyTitle
            </h3>
            @(Html.ActionLink(">", "Answering", new { item.SurveyId }, null))
            }
        </div>
    </div>
